@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    width: 100%;
    margin-top: 27px;
    padding-bottom: 70px;
    border-bottom: 1px solid $basicColor;
    color: $basicColor;

    .title {
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
    }

    .inner {
        margin-top: 27px;
    }

    @include min-middle {
        display: flex;
        justify-content: space-between;

        .title {
            width: 144px;
            padding-top: 20px;
            font-size: 13px;
            line-height: 18px;
            border-top: 1px solid $basicColor;
        }

        .inner {
            margin-top: unset;
            width: calc(100% - 144px - 28px);

            .preview {
                width: 100%;
            }
        }
    }
}