@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 545px;
    height: 545px;
    color: $basicWhite;
    background-color: $basicColor;
    border-radius: 46px;

    .index {
        position: absolute;
        top: 40px;
        left: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        font-size: 31px;
        color: $basicColor;
        background-color: $basicWhite;
        border-radius: 100%;
    }

    .image {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .title {
        margin-bottom: 45px;
        font-size: 31px;
        line-height: 44px;
    }

    @include max-large {
        width: 120px;
        height: 120px;
        border-radius: 10px;

        .index {
            top: 10px;
            left: 8px;
            width: 10px;
            height: 10px;
            font-size: 8px;
        }

        .image {
            justify-content: center;
            
            svg {
                height: 100%;
                width: 50%;
            }
        }

        .title {
            margin-bottom: 10px;
            font-size: 8px;
            line-height: 10px
        }
    }
}