@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    order: 2;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 54px;
    grid-row-gap: 0px;
    margin-left: 90px;
    
    > div {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: $basicColor;
        }
    }

    @include max-small {
        margin-top: 57px;
        margin-left: 0;
        margin-bottom: 64px;

        > div {
            font-size: 15px;
            line-height: 30px;
        }
    }
}