@import '../../styles/mixins.scss';

.container {
  position: relative;
  width: 100%;
  padding: 4rem 1rem 0;

  // @include md {
  //   padding-left: 1.5rem;
  //   padding-right: 1.5rem;
  // }

  // @include lg {
  //   padding-left: 2rem;
  //   padding-right: 2rem;
  // }
}

.wrapper {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;

  @include lg {
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 42rem;
  }
}

.content-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  max-width: 48rem;

  @include lg {
    text-align: left;
    max-width: 40rem;
    flex-shrink: 0;
  }

  @include xl {
    max-width: 48rem;
  }
}

.title {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: bold;
  color: var(--lit-gray-50);
  background-color: var(--lit-gray-50);
  background-image: linear-gradient(
    to bottom,
    var(--lit-gray-50),
    var(--lit-gray-200),
    var(--lit-gray-400)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  @include sm {
    font-size: 3rem;
  }

  @include md {
    font-size: 4rem;
  }

  @include lg {
    font-size: 3.5rem;
  }

  @include xl {
    font-size: 4.5rem;
  }
}

.subtitle {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;

  @include sm {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1rem;
  }

  @include md {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: none;
  }
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1.5rem;

  @media only screen and (min-width: 448px) {
    flex-wrap: nowrap;
  }

  @include lg {
    justify-content: flex-start;
  }
}

.cta-btn {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: var(--lit-orange);
  color: var(--lit-gray-900);
  border-radius: 999px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 1rem 0.5rem;

  @media only screen and (min-width: 448px) {
    width: auto;
  }

  @include sm {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.cta-btn--primary {
  transition: background-color 0.2s ease, box-shadow 0.2 ease;

  &:hover {
    background-color: var(--lit-orange-hover);
    box-shadow: 0 0 12px rgba(255, 112, 51, 0.5);
  }
}

.cta-btn--outline {
  background-color: var(--lit-black);
  border: 1px solid var(--lit-gray-600);
  color: var(--lit-gray-200);
  transition: background-color 0.2s ease, border 0.2 ease, color 0.2s ease;

  &:hover {
    background-color: var(--lit-gray-900);
    border-color: var(--lit-gray-400);
    color: var(--lit-gray-50);
  }
}

.hero-img {
  // max-height: clamp(12rem, calc(50vh - 4rem), 20rem);
  // width: 100%;

  // @include xs {
  //   max-height: clamp(20rem, calc(50vh - 4rem), 28rem);
  // }

  // @include sm {
  //   max-height: clamp(28rem, 50vh, 42rem);
  // }

  // @include lg {
  //   max-height: none;
  // }
  width: 100%;
}

// [data-shape='key'] {
//   position: relative;
//   color: var(--lit-gray-100);
//   opacity: 0.05;
//   transition: opacity 300ms ease-in-out calc(var(--animation-order, 1) * 25ms);
// }

// [data-shape='key'][data-reveal='true'] {
//   opacity: 1;
//   animation: fadeInOut var(--animation-duration) ease-in-out infinite alternate
//     var(--animation-delay);
// }

// @keyframes fadeInOut {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0.2;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.hero-key:hover [data-shape='key'][data-reveal='true'] {
  animation: fadeIn 1.2s ease-in-out calc(var(--animation-order, 1) * 30ms);
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
