@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  color: $basicColor;
  background-color: $basicCreme;
  border-bottom: 1px solid $basicColor;

  &:last-of-type {
    border-bottom: none;
  }

  .containerInner {
    display: block;

    &.reverse {
      flex-direction: row-reverse;
    }

    .desktopImage {
      display: none;
    }

    .inner {
      width: 100% !important;
      margin-top: 55px;

      .title {
        margin: 0;
        font-weight: 700;
        font-size: 55px;
        line-height: 52px;
      }

      .image {
        display: block;
        margin-top: 65px;

        svg {
          display: block;
          max-height: 300px;
          width: 75%;
          height: auto;
          margin: 0 auto;
        }
      }

      .description {
        margin-top: 50px;
      }

      .linkContainer {
        display: flex;
        align-items: center;
      }

      .link {
        display: block;
        width: max-content;
        margin-top: 85px;
        margin-right: 2em;
        padding-bottom: 2px;
        font-size: 25px;
        line-height: 38px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-decoration: none;
        color: $basicColor;
        border-bottom: 1px solid $basicColor;
      }
    }

  }

  @include max-large {
    height: auto;

    .containerInner {
      .inner {
        .title {
          font-size: 35px;
          line-height: 34px;
        }

        .description {
          margin-top: 60px;
          font-size: 12px;
          line-height: 18px;
        }

        .link {
          margin-top: 45px;
          margin-bottom: 75px;
          font-size: 12px;
          line-height: 24px;
        }
      }
    }
  }

  @include min-huge {
    height: 984px;
    padding-bottom: unset;

    .containerInner {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .desktopImage {
        display: block;
      }

      .inner {
        width: 598px !important;

        .title {
          font-size: 90px;
          line-height: 87px;
        }

        .image {
          display: none;
        }

        .description {
          margin-top: 75px;
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
  }
}