@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    position: fixed;
    z-index: 9999;
    top: 54px;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background-color: $basicWhite;

    a, button {
        color: $basicColor !important;
        border-color: $basicColor !important;
    }

    &.show {
        @include max-large {
            display: block;
        }
    }
}