@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    position: absolute;
    z-index: 9999;
    top: 54px;
    left: 0;
    display: none;
    width: 100%;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 37px;
    background-color: $basicColor;

    .menuItem {
        border-top: 1px solid $basicWhite;

        a {
            color: $basicWhite !important;
            font-weight: 400;
            font-size: 20px;
            line-height: 55px;
            text-transform: uppercase;
            text-decoration: none;

            svg {
                margin-left: 5px;
                transform: rotate(-45deg);
            }
        }

        &:last-of-type {
            border-bottom: 1px solid $basicWhite;
        }
    }

    &.show {
        @include max-large {
            display: block;
        }
    }
}