@import 'src/styles/colors.scss';

.wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 820px;
    height: 654px;
    margin-right: 40px;
    overflow: hidden;
    background-color: $basicWhite;
    border: 2px solid $basicWhite;
    border-radius: 35px;
    cursor: pointer;

    &:last-of-type {
        margin-right: 0;
    }

    .header {
        padding-top: 40px;
        padding-bottom: 28px;
        text-align: center;
        background-color: $basicColor;

        .title {
            font-size: 30px;
            line-height: 34px;
            text-transform: uppercase;
        }

        .subtitle {
            font-size: 20px;
            line-height: 34px;
            opacity: 0.6;
        }
    }

    .image {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}