@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    height: 495px;
    margin: 0 auto;
    margin-top: 75px;
    overflow: hidden;
    background-color: $basicColor;
    border: 2px solid $basicColor;
    border-radius: 31px;

    .title {
        padding: 15px;
        text-align: center;
        text-transform: uppercase;
        color: $basicColor;
        background-color: $basicWhite;
    }

    textarea {
        flex: 1;
        display: block;
        padding-top: 25px;
        padding-left: 65px;
        font-family: "Courier New",monospace;
        font-size: 1rem;
        color: $basicWhite;
        background-color: $basicColor;
        border: none;
        resize: none;
    }

    @include max-large {
        width: 100%;
        max-width: 320px;
        height: 200px;
        margin-top: 15px;
        border-width: 1px;
        border-radius: 10px;

        .title {
            padding: 8px 0;
            font-size: 10px;
            line-height: 14px;
        }

        textarea {
            padding-top: 5px;
            padding-left: 15px;
            font-size: 0.45rem;
        }
    }

    @include min-huge {
        width: 920px;
        margin: unset;

        .title {
            padding: 27px;
            font-size: 30px;
        }

        textarea {
            width: 100%;
        }
    }
}

.action {
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-top: 48px;
    padding-bottom: 3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    border-bottom: 1px solid $basicColor;

    @include max-large {
        margin-top: 20px;
        font-size: 12px;
    }
}