@import 'src/styles/common.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/sizes.scss';
@import 'src/styles/mixins.scss';

:export {
    breakpoint: $md;
    gapBreakpoint: $hg;
}

.wrapper {
    background-color: $basicColor;
    color: $basicWhite;
    padding: 55px 0;

    .title {
        @extend .title;

        br {
            display: none;
        }
    }

    .slider {
        margin-top: 75px;
    }

    @include max-large {
        .title {
            font-size: 35px;
            line-height: 100%;
        }
    }

    @include min-middle {
        padding: 70px 0 90px 0;

        .title {
            font-size: 40px;
            line-height: 38px;

            br {
                display: block;
            }
        }
    }

    @include min-huge {
        padding: 177px 0 209px 0;

        .slider {
            margin-top: 160px;
        }
    }
}