@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    position: relative;
    padding: 75px 0 55px 0;
    color: $basicWhite;
    
    .inner {
        position: relative;
        z-index: 10;
        text-align: center;

        .quote {
            max-width: 1205px;
            margin: 0 auto;
            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.02em;
        }

        .source {
            margin-top: 20px;
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
    }

    @include min-middle {
        padding: 90px 0 65px 0;

        .inner {
            max-width: 570px;
            margin: 0 auto;

            .quote {
                font-size: 22px;
                line-height: 108.8%;
            }

            .source {
                margin-top: 25px;
                font-size: 15px;
                line-height: 25.5px;
            }
        }
    }

    @include min-huge {
        padding: 195px 0 115px 0;

        .inner {
            max-width: unset;
            margin: unset;
            
            .quote {
                font-size: 50px;
                line-height: 108.8%;
            }

            .source {
                margin-top: 50px;
                font-size: 35px;
                line-height: 108.8%;
            }
        }
    }
}