@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 46px;
    color: $basicWhite;
    background-color: transparent;

    .logo {
        a {
            display: block;
            height: 100%;
            color: $basicWhite;

            svg {
                height: 100%;
            }
        }
    }

    .burger {
        display: none;
    }

    @include max-small {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: $basicWhite;

        .logo {
            height: 24px;
            
            a {
                color: $basicColor;
            }
        }

        .burger {
            display: flex;
            align-items: center;
            margin-left: auto;
            color: $basicColor;
            cursor: pointer;
        }
    }
}