@import 'src/styles/mixins.scss';

.title {
    margin: 0;
    font-weight: 700;
    font-size: 70px;
    line-height: 65px;

    @include max-large {
        font-size: 25px;
        line-height: 15px;
    }

    @include min-huge {
        font-size: 90px;
        line-height: 87px;
    }
}