* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

body > div {
  height: 100%;
}
