@import 'src/styles/mixins.scss';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-size: 20px;
  font-family: 'Favorit';

  @include max-small {
    font-size: 12px;
  }
}

body > div {
  height: 100%;
}
