@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 50px 30px 30px 30px;
    color: $basicColor;
    background-color: $basicWhite;
    border-radius: 25px;

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        svg {
            height: 100px;
        }
    }

    .text {
        margin-top: 45px;

        .title {
            font-weight: 700;
            font-size: 17px;
            line-height: 19px;
        }

        .subtitle { 
            margin-top: 11px;
        }
    }

    @include min-middle {
        width: 235px;
        height: 235px;
        margin-bottom: unset;
        padding: 40px 20px 15px 20px;
        border-radius: 20px;

        .image {
            svg {
                height: 85px;
            }
        }

        .text {
            flex: 1;
            margin-top: 35px;

            .title {
                font-weight: 700;
                font-size: 12px;
                line-height: 110%;
            }

            .subtitle { 
                font-size: 10px;
                line-height: 110%;
            }
        }
    }

    @include min-huge {
        width: 545px;
        height: 545px;
        padding: 85px 55px 45px 55px;
        border-radius: 46px;

        .image {
            svg {
                height: 200px;
            }
        }

        .text {
            margin-top: 85px;

            .title {
                font-size: 30px;
                line-height: 120%;
            }

            .subtitle {
                margin-top: 20px;
            }
        }
    }
}