@import '../../styles/mixins.scss';

.section {
  position: relative;
  padding: 3rem 1rem;
  background-color: var(--lit-orange);

  @include md {
    padding: 4rem 1rem;
  }
}

.title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  color: var(--lit-white);
  margin-bottom: 1.5rem;

  @include lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
  }
}

.logo {
  width: var(--marquee-size);
  display: flex;
  justify-content: center;
}

.marquee {
  height: 2rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--marquee-gap);
  -webkit-mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--marquee-gap);
  min-width: 100%;
  animation: scroll-x var(--marquee-duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--marquee-scroll-start));
  }
  to {
    transform: translateX(var(--marquee-scroll-end));
  }
}
