@import 'src/styles/mixins.scss';

.container {
  width: 100%;
  padding: 4rem 1rem;

  @include sm {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include md {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.header {
  width: 100%;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  @include sm {
    text-align: center;
  }
}

.badge {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--lit-orange);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  @include lg {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: bold;
  color: var(--lit-gray-50);
  background-color: var(--lit-gray-50);
  background-image: linear-gradient(
    to bottom,
    var(--lit-gray-50),
    var(--lit-gray-300)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  @include xs {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  @include lg {
    font-size: 3rem;
    line-height: 1;
  }

  &__break {
    display: inline;

    @include md {
      display: block;
    }
  }
}

.subtitle {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  max-width: 48rem;
  margin: 0.5rem auto 0;

  @include lg {
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: none;
    margin-top: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature {
  &__logo {
    width: auto;
    max-height: 5rem;
    margin-bottom: 1.5rem;

    @include sm {
      max-height: 6rem;
    }
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--lit-gray-50);
    background-color: var(--lit-gray-100);
    background-image: linear-gradient(
      to bottom,
      var(--lit-gray-100),
      var(--lit-gray-300)
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    @include lg {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__copy {
    letter-spacing: 0.025em;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;

    @include lg {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  &__highlight {
    color: var(--lit-gray-200);
    font-weight: 400;
  }
}
