@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
  display: flex;
  align-items: center;
  color: $basicColor;
  padding: 46px;

  .logo {
    order: 1;
    display: flex;
    align-items: center;
  }

  @include max-large {
    display: block;
    height: auto;
    padding-top: 46px;

    .logo {
      svg {
        width: 93px;
        height: 110px;
      }
    }
  }

  @include min-huge {
    height: 300px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer {
  color: $basicColor;
  text-align: center;
  padding: 1rem;
  font-size: 15px;
  line-height: 1rem;

  &__company {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__link {
    color: $basicColor;
    font-size: 15px;
    line-height: 1rem;
    margin: 0 0.125rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
