@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.title {
  font-size: 50px;
  margin: 40.2px auto 0;
  padding-bottom: 25px;
  border-bottom: 1px solid $basicColor;
  width: calc(100% - 238px);
  color: $basicColor;
}

@include min-middle {
  .title {
    font-size: 60px;
  }
}

@include min-huge {
  .title {
    font-size: 150px;
  }
}

@include max-large {
  .title {
    display: none;
    //font-size: 60px;
    //width: 620px;
    //max-width: 620px;
  }
}