@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    display: flex;
    column-gap: 16px;
    padding: 10px 0 15px 0;
    color: $basicColor;
    border-bottom: 1px solid $basicColor;

    &:first-of-type {
        border-top: 1px solid $basicColor;
    }

    .inner {
        .time {
            font-weight: 500;
            font-size: 7px;
            line-height: 12px;
            text-transform: uppercase;

            span {
                margin-left: 7.5px;
            }
        }

        .title {
            margin-top: 37px;
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
            text-transform: uppercase;
        }

        .description {
            margin-top: 14px;
            font-weight: 500;
            font-size: 9px;
            line-height: 110%;

            a {
                margin-left: 5px;
                text-transform: uppercase;
                color: $basicColor;
            }
        }
    }

    .image {
        height: 134px;
    }

    @include min-middle {
        width: calc((100% - 45px) / 2);
        padding: 16px 0 25px 0;

        &:nth-child(2) {
            border-top: 1px solid $basicColor;
        }

        .inner {
            .time {
                font-size: 9px;
                line-height: 15px;
            }

            .title {
                font-size: 18px;
                line-height: 110%;
            }

            .description {
                font-size: 9px;
                line-height: 120%;
            }
        }

        .image {
            height: 149px;
        }
    }
}