@import 'src/styles/common.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    height: auto;
    padding-top: 102px;
    padding-bottom: 168px;
    //text-align: center;
    background-color: $basicColor;
    color: $basicWhite;

    .subtitle {
        margin-top: 20px;
    }

    .button {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    @include max-large {
        padding-top: 59px;
        padding-bottom: 59px;

        .subtitle {
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
        }

        .button {
            margin-top: 13px;
            font-size: 15px;
            line-height: 24px;
        }
    }

    @include min-huge {
        height: 1588px;
        padding-top: 200px;

        .subtitle {
            font-size: 30px;
            line-height: 36px;
        }

        .button {
            margin-top: 105px;
            font-size: 30px;
            line-height: 52px;
        }
    }
}