@import 'src/styles/common.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    padding-top: 102px;
    padding-bottom: 168px;

    .inner {
        display: block;
        color: $basicColor;

        .content {
            order: 2;
            
            .subtitle {
                margin-top: 85px;
                font-size: 20px;
                line-height: 26px;
            }
        }
    }

    .readWriteImages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .readWriteImage {
            width: 49%;
            padding: 0 15px;
            box-sizing: border-box;
            border: 3px solid $basicColor;
            border-radius: 10px;
            margin-top: 2rem;
        }
    }

    @include max-large {
        padding-top: 59px;
        padding-bottom: 59px;

        .inner {
            .content {
                width: 100%;

                .subtitle {
                    margin-top: 20px;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }

    @include min-huge {
        .inner {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .content {
                width: 544px;
            }
        }
    }
}