@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
  flex: 1;
  margin-top: 33px;

  .title {
    padding: 19px 38px 16px 38px;
    font-weight: 400;
    font-size: 20px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    color: $basicWhite;
    background-color: $basicColor;
    border-radius: 17px 17px 0 0;
  }

  .inner {
    padding: 23px 19px;
    text-align: center;
    background-color: $basicGrey;
    border-radius: 0 0 17px 17px;

    a {
      display: block;
      margin-top: 30px;
      font-size: 12px;
      line-height: 10px;
      text-transform: uppercase;
      color: $basicColor;
    }
  }

  @include min-middle {
    margin-top: unset;

    .title {
      padding: 20px 48px 15px 48px;
      font-weight: 500;
      font-size: 18px;
      line-height: 15px;
      border-radius: 20px 20px 0 0;
    }

    .inner {
      padding: 25px 25px 30px 25px;
      border-radius: 0 0 20px 20px;
      font-size: 14px;
      line-height: 14px;

      .description {
        min-height: 42px;
      }

      a {
        margin-top: 18px;
        font-size: 16px;
        line-height: 12px;
      }
    }
  }

  @include min-huge {
    .title {
      padding: 48px 48px 35px 48px;
      font-weight: 500;
      font-size: 40px;
      line-height: 34px;
      border-radius: 46px 46px 0 0;
    }

    .inner {
      padding: 50px 80px 45px 80px;
      font-size: unset;
      line-height: unset;
      border-radius: 0 0 46px 46px;

      a {
        margin-top: 37px;
        font-size: 25px;
        line-height: 26px;
      }
    }
  }
}