@import 'src/styles/common.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    padding-top: 232px;
    padding-bottom: 185px;

    .inner {
        display: block;
        color: $basicColor;

        .content {
            order: 2;
            
            .subtitle {
                margin-top: 85px;
                font-size: 20px;
                line-height: 26px;
            }
        }
    }

    @include max-large {
        padding-top: 58px;
        padding-bottom: 55px;

        .inner {
            .content {
                width: 100%;

                .subtitle {
                    margin-top: 20px;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }

    @include min-huge {
        .inner {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .content {
                width: 544px;
            }
        }
    }
}