@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    order: 3;
    align-items: flex-start;
    margin-left: auto;

    .text {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 15px;

        br {
            display: none;
        }
    }
    
    .form {
        position: relative;
        
        > div {
            input {
                width: 100%;
                margin-bottom: 34px;
            }

            &:last-of-type {
                input {
                    margin-bottom: 0;
                }
            }
        }

        button {
            position: absolute;
            right: 0;
            bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 29px;
            height: 29px;
            color: $basicColor;
            background-color: transparent;
            border: 1px solid $basicColor;
            border-radius: 100%;
            cursor: pointer;
        }
    }

    @include max-large {
        display: block;
        margin-top: 48px;

        .form {
            margin-top: 38px;
            margin-left: 0;

            > div {
                input {
                    width: 100%;
                }
            }
        }
    }

    @include min-huge {
        display: flex;

        .text {
            margin-right: 125px;
            font-size: 20px;
            line-height: 32px;
            
            br {
                display: initial;
            }
        }

        .form {
            > div {
                input {
                    width: 405px;
                    margin-bottom: 49px;
                }
            }
        }
    }
}