@import 'src/styles/common.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 726px;
    padding-bottom: 163px;
    
    .inner {
        display: block;
        margin-top: 48px;
        color: $basicColor;

        .titleWrapper {
            display: block;
            width: 100%;
        }

        .descriptionWrapper {
            display: block;
            width: 100%;
            margin-top: 20px;

            .description {
                width: 88%;
            }
        }
    }

    @include max-large {
        height: auto;
        padding-bottom: 59px;
        
        .inner {
            .descriptionWrapper {
                .description {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }

    @include min-huge {
        .inner {
            display: flex;

            .titleWrapper {
                display: flex;
                justify-content: center;
            }

            .descriptionWrapper {
                display: flex;
                width: 50%;

                .description {
                    width: 687px;
                    font-size: 30px;
                    line-height: 42px;
                }
            }
        }
    }
}