@import 'src/styles/common.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 163px;

    .inner {
        display: block;
        margin-top: 55px;
        color: $basicColor;

        .titleWrapper {
            display: block;
            width: 100%;
        }

        .descriptionWrapper {
            display: block;
            width: 100%;
            margin-top: 20px;

            .description {
                width: 88%;
            }
        }
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        column-gap: 40px;
        row-gap: 40px;
        margin: 55px auto 0;
        width: 95vw;
    }

    @include max-large {
        height: auto;
        padding-bottom: 59px;
        
        .inner {
            .descriptionWrapper {
                .description {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }

    @include min-middle {
        .inner {
            margin-top: 85px;
        }

        .logos {
            margin-top: 85px;
        }
    }

    @include min-large {
        .logos {
            flex-wrap: nowrap;
        }

        logo {
            width: 14%;
        }
    }

    @include min-huge {
        .inner {
            display: flex;
            margin-top: 178px;

            .titleWrapper {
                display: flex;
                justify-content: center;
            }

            .descriptionWrapper {
                display: flex;
                width: 50%;

                .description {
                    width: 687px;
                    font-size: 30px;
                    line-height: 42px;
                }
            }
        }

        .logos {
            margin-top: 173px;
        }
    }
}