@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.menuItem {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 15px;

    &:last-of-type {
        margin-right: 0;
    }

    a {
        text-decoration: none;
        color: $basicColor;
    }
}

.button {
    font-weight: 700;
    text-transform: unset;
    letter-spacing: unset;
    color: $basicColor;
}

@include min-large {
    .menuItem {
        margin-right: 44px;
        margin-bottom: unset;
        font-size: 20px;

        a {
            color: $basicWhite;
        }
    }

    .button {
        margin-left: 44px;
        font-size: 20px;
        color: $basicWhite;
    }
}

@include min-huge {
    .menuItem {
        font-size: 25px;
    }

    .button {
        font-size: 25px;
    }
}

.basic {
    color: $basicColor !important;
}