@import '../../styles/mixins.scss';

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-image: linear-gradient(var(--lit-pink) 50%, var(--lit-orange));
  color: var(--lit-white);
  font-size: 0.75rem;
  line-height: 1rem;

  @include xs {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &__link {
    text-decoration: underline;
  }
}
