@import 'src/styles/common.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    padding: 35px 0 65px 0;
    color: $basicColor;
    
    .top {
        .title {
            @extend .title;
        }

        a {
            display: block;
            width: max-content;
            margin: 0 auto;
            margin-top: 50px;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $basicColor;
        }
    }

    .projects {
        margin-top: 50px;
    }

    @include max-large {
        .title {
            font-size: 35px;
            line-height: 100%;
        }
    }

    @include min-middle {
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 40px;
                line-height: 100%;
            }

            a {
                width: unset;
                margin: unset;
            }
        }
    }

    @include min-large {
        .top {
            a {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    @include min-huge {
        padding: 75px 0 115px 0;

        .top {
            .title {
                font-size: 70px;
                line-height: 65px;
            }

            a {
                padding-bottom: 1px;
                font-size: 25px;
                line-height: 38px;
                text-decoration: none;
                border-bottom: 2px solid $basicColor;
            }
        }

        .projects {
            margin-top: 150px;
        }
    }
}

