@import 'src/styles/colors.scss';
@import 'src/styles/sizes.scss';
@import 'src/styles/mixins.scss';

:export {
    breakpointLarge: $lg;

    containerPadding: $containerPadding;
    containerPaddingSmall: $containerPadding-small;
}

.wrapper {
    position: relative;
    overflow: hidden;
    height: max-content;

    .inner {
        position: absolute;
        top: 0;
        left: $containerPadding;
        display: flex;
        width: max-content;
        transition: .5s;

        @include max-large {
            left: $containerPadding-small;
        }

        .child {
            display: inline-flex;
            cursor: pointer;

            &.disabled {
                display: block;
            }
        }
    }

    &.disabled {
        height: auto;

        .inner {
            position: unset;
            display: block;
            width: 100%;
            padding: 0 $containerPadding;

            @include max-large {
                padding: 0 $containerPadding-small;

                .child {
                    width: 100%;
                }
            }
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;

    > span {
        width: 7.5px;
        height: 7.5px;
        margin-right: 5px;
        border: 1px solid $basicColor;
        border-radius: 100%;
        cursor: pointer;
        transition: .5s;

        &:last-of-type {
            margin-right: 0 !important;
        }

        &.active {
            background-color: $basicColor;
        }
    }

    &.white {
        > span {
            border-color: $basicWhite;

            &.active {
                background-color: $basicWhite;
            }
        }
    }

    @include min-middle {
        margin-top: 32px;

        > span {
            width: 11px;
            height: 11px;
            margin-right: 6.5px;
        }
    }

    @include min-huge {
        margin-top: 48px;

        > span {
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }
    }
}